/* Resto do CSS */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Macondo&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos exclusivos para a página Home */
body.home-page {
    font-family: "Amatic SC", sans-serif;
    background-image: url('img_home/fundo-home.jpeg');
    background-size: cover; /* Ajusta a imagem de fundo para cobrir toda a área visível */
    background-position: top center; /* Garante que a imagem comece no topo e centralize horizontalmente */
    background-attachment: scroll; /* Faz com que a imagem se mova com a rolagem da página */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    min-height: 150vh; /* Garante que o body tenha pelo menos a altura da tela */
    overflow-x: hidden; /* Impede rolagem horizontal */
}


header {
    background-color: #FFBD59;
    display: flex;
    align-items: center;
    padding: 1px; 
    border-bottom: 1px solid #FFBD59;
    position: relative;
    justify-content: space-between;
}

.logo {
    margin-right: 8px; 
}

.logo img {
    height: 140px;
    margin-left: 25px;
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-left: 20px;
    padding: 10px;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    padding-right: 08px
}

nav ul li a:hover {
    color: #fff;
}

.admin {
    margin-left: 20px;
}

.admin img {
    height: 195px;
    
}
.btn {
    margin-right: 19px;
    padding: 6px 11px;
    background-color: transparent;
    border: 3px solid var(--light-color);
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 26px;
    color: var(--dark-color);
    transition: 0.4s;
}

.btn:hover {
    background-color: var(--light-color);;
    color: var(--dark-color)
}

:root {
    --primary-color: #ffbd59;
    --dark-color: #000000;
    --light-color: #ffffff;
}
    

.img-cariri {
    text-align: center; /* Centraliza a imagem */
    margin: 0px 0px; /* Adiciona espaço acima e abaixo da imagem */
}

.img-cariri img {
    margin-top: 50px;
    width: 290px; /* A imagem ocupa toda a largura da tela */
    height: 120px; /* Mantém a proporção da imagem */
}

.texto-cariri {
    text-align: center;
    padding: 0px 0;
    font-size: 27px;
    font-weight: bold;
    color: #000;
    max-width: 1000px; /* Reduz o comprimento do texto */
    margin: 10px auto; /* Centraliza o texto e o aproxima da imagem */
    line-height: 1.4;
}
p{
    font-size: 40px;
}
.section01{
    display: flex;
}
.section02{
    display: flex;
}
.section03{
    display: flex;
}
.imagem_esquerda{
    margin-top: 25px;
    margin-left: 40px;
}
.imagem_direita{
    margin-right: 40px;
}

.paragrafo_img1, .paragrafo_img2{
    background-color: #F9E7CE;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    height: 220px; /* Ajuste a altura conforme necessário */
    border-radius: 20px;
    width: 100%; /* Ajuste a largura para uma porcentagem */
    text-align: center;
    margin: 2rem; /* Ajuste a margem superior e esquerda para uma unidade relativa */
}
.paragrafo_img3 {
    background-color: #F9E7CE;
    font-size: 40px;
    font-weight: bold;
    padding: 17px;
    height: 270px; /* Ajuste a altura conforme necessário */
    border-radius: 20px;
    width: 100%; /* Ajuste a largura para uma porcentagem */
    text-align: center;
    margin: 2rem; /* Ajuste a margem superior e esquerda para uma unidade relativa */
}
h2{
    font-size: 80px;
    text-align: center;
    color: #ffffff;
}

.eventos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 50px ; /* Ajusta o espaço entre as caixas na vertical e horizontal */
    margin: 50px auto;
    padding: 0px;
    max-width: 1000px;
}

.card {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 10px;
    height: 190px;
    width: 390px;
    background-color: #F9E7CE;
    border-radius: 10px;
    margin-top: 10px;
}

.cards p, h3 {
    font-size: 1.125rem;
}

.cards img {
    width: 150px;
    height: 159px;
    margin-right: 10px;
}
.cidades {
  display: flex;
  justify-content: center;
  align-items: center;
}

.city {
    height: 350px;
    width: 274.75px;
    padding: 35px;
    border-radius: 25%;
}

.titulos {
    display: flex;
    color: white;
}

.title {
    padding: 35px;
}

/* Responsividade para diferentes tamanhos de tela */
@media (max-width: 1024px) {
    .eventos {
        justify-content: center;
    }

    .cards {
        width: 90%; /* As caixas ocupam 90% da largura em telas menores */
    }
}

@media (max-width: 768px) {
    .Eventos {
        flex-direction: column; /* Empilha as caixas verticalmente */
        align-items: center;
    }

    .cards {
        width: 100%; /* Ocupa 100% da largura */
    }
}

@media (max-width: 480px) {
    .cards {
        width: 100%;
    }
}