
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Macondo&display=swap');
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.home-juazeiro {
    font-family: "Amatic SC", sans-serif;
    background-image: url('../../public/images/juazeiro/body_juazeiro.png');
    background-size: cover; 
    background-position: top center; 
    background-attachment: scroll; 
    background-repeat: no-repeat; 
    min-height: 150vh; 
    overflow-x: hidden; 
}


header {
    background-color: #FFBD59;
    display: flex;
    align-items: center;
    padding: 1px; 
    border-bottom: 1px solid #FFBD59;
    position: relative;
    justify-content: space-between;
}

.logo {
    margin-right: 8px; 
}

.logo img {
    height: 140px;
    margin-left: 25px;
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-left: 20px;
    padding: 10px;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 60px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    padding-right: 08px
}

nav ul li a:hover {
    color: #fff;
}

.admin {
    margin-left: 20px;
}

.admin img {
    height: 195px;
}

a {
    text-decoration: none; 
}
.carousel{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.images{
    border-radius: 7px;
    width: 1320px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.carousel>a{
    cursor: pointer;
}
.carousel a>button{
    cursor: pointer;
    border: none;
    border-radius: 7px;
    width: 62px;
    height: 100%;
}
.images>img{
    object-fit: cover;
    height: 350px;
    width: 450px;
    padding: 5px;
    border-radius: 5%;
}
.btn {
    margin-right: 19px;
    padding: 6px 11px;
    background-color: transparent;
    border: 3px solid var(--light-color);
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 26px;
    color: var(--dark-color);
    transition: 0.4s;
}

.btn:hover {
    background-color: var(--light-color);;
    color: var(--dark-color)
}

:root {
    --primary-color: #ffbd59;
    --dark-color: #000000;
    --light-color: #ffffff;
}

.img-juazeiro{
    text-align: center; 
    margin: 0px 200px; 
}

.img-crato img {
    height: 112px;
    width: 253px;
}

.img-juazeiro img {
    margin-top: 40px;
    width: 500px; 
    height: 100px; 
}

.texto-juazeiro {
    text-align: center;
    padding: 0px 0;
    font-weight: bold;
    color: #000;
    max-width: 1300px; 
    margin: 30px auto; 
    line-height: 1.4;
}

p1{
    font-size: 50px;
}

p{
    font-size: 40px;
}

.section01{
    display: flex;
}

.section02{
    display: flex;
}

.section03 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 20px;
    gap: 20px; 
}
.section03 img {
    max-height: 900px; 
}

.imagem_esquerda{
    margin-top: 20px;
    margin-left: 40px;
}

.imagem_direita{
    margin-right: 40px;
}
.imagem_centro {
    max-width: 100%; 
    border-radius: 3%;
    height: auto; 
}

.paragrafo_img1, .paragrafo_img2 {
    background-color: #F9E7CE;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    height: 220px; 
    border-radius: 20px;
    width: 100%; 
    text-align: center;
    margin: 2rem; 
}

.paragrafo_img3 {
    background-color: #F9E7CE;
    font-size: 3rem; 
    font-weight: bold;
    padding: 10px; 
    border-radius: 20px;
    width: 100%; 
    max-width: 2000px; 
    text-align: center; 
    margin: 0; 
}

.personagens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
}

.person {
    width: 100%;
    max-width: 250px;
    height: auto;
    padding: 12px;
    border-radius: 13%;
    transition: transform 0.3s ease-in-out;
    align-items: center;
    display: flex; /* Adicionado para centralizar os itens dentro da cidade */
    flex-direction: column; /* Organiza a imagem e o título em coluna */
    align-items: center; /* Centraliza os itens */
}

.person:hover {
    transform: scale(1.05);
}

.perso-title {
    text-align: center;
    color: white;
    font-size: 2.8rem;
}

.img_turist {
    height: 350px;
    width: 450px;
}



@media (max-width: 768px) {
    .section03 {
      background-size: contain; 
      background-position: top; 
    }
  }



@media (max-width: 768px) {
    .paragrafo_img1, .paragrafo_img2, .paragrafo_img3 {
        width: 90%; 
        margin: 1rem; 
    }
}

h2{
    font-size: 80px;
    text-align: center;
    color: #ffffff;
}

.gastronomia {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 50px ; 
    margin: 50px auto;
    padding: 0px;
    max-width: 1000px;
}

.card {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 10px;
    height: 210px;
    width: 500px;
    background-color: #F9E7CE;
    border-radius: 10px;
    margin-top: 10px;
}
.card h3{
    font-size: 30px;
}

.card p{
    font-size: 27px;
}

.cards img {
    width: 200px;
    height: 200px;
    margin-right: 10px;
}

footer img {
    height: 140px;
    margin-left: 10px;
    
}

footer{
    background-color: #FFBD59;
    display: flex;
    align-items: center;
    padding: 1px; 
    border-bottom: 1px solid #FFBD59;
    position: relative;
    justify-content: space-between;
}

nav.footer-nav {
    padding-right: 90px;
}


@media (max-width: 1024px) {
    .gastronomia {
        justify-content: center;
    }

    .cards {
        width: 90%; 
    }
}

@media (max-width: 768px) {
    .gastronomia {
        flex-direction: column; 
        align-items: center;
    }

    .cards {
        width: 100%; 
    }
}

@media (max-width: 480px) {
    .cards {
        width: 100%;
    }
}



