@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Macondo&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body.home-crato {
    font-family: "Amatic SC", sans-serif;
    background-image: url('../../public/images/crato/background.crato.png');
    background-size: cover; 
    background-position: top center; 
    background-attachment: scroll; 
    background-repeat: no-repeat; 
    min-height: 150vh; 
    overflow-x: hidden; 
}

header, footer {
    background-color: #FFBD59;
    display: flex;
    align-items: center;
    padding: 1px; 
    border-bottom: 1px solid #FFBD59;
    position: relative;
    justify-content: space-between;
}

footer img {
    height: 140px;
    margin-left: 10px; 
}

.logo {
    margin-right: 8px; 
}

.logo img {
    height: 140px;
    margin-left: 25px;
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-left: 20px;
    padding: 10px;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 60px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    padding-right: 08px
}

nav ul li a:hover {
    color: #fff;
}

a {
    text-decoration: none; 
}

.btn {
    margin-right: 19px;
    padding: 6px 11px;
    background-color: transparent;
    border: 3px solid var(--light-color);
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 26px;
    color: var(--dark-color);
    transition: 0.4s;
}

.btn:hover {
    background-color: var(--light-color);;
    color: var(--dark-color)
}

:root {
    --primary-color: #ffbd59;
    --dark-color: #000000;
    --light-color: #ffffff;
}

.title{
    text-align: center; 
    margin: 0px 200px; 
}

.title img {
    margin-top: 40px;
    height: 152px;
    width: 293px; 
}

.sub-titulo {
    text-align: center;
    padding: 0px 0;
    font-weight: bold;
    color: #000;
    max-width: 1300px; 
    margin: 30px auto; 
    line-height: 1.4;
}

#p1{
    font-size: 60px;
}

#p2{
    font-size: 40px;
}

.section01, .section02, .section03, .section04 {
    display: flex;
}

.section02 {
    justify-content: center;
}

.section04 {
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 20px;
    gap: 20px; 
}
.section04 img {
    max-height: 900px; 
}

.paragrafo_img1, .paragrafo_img2, .paragrafo_img3, .paragrafo-centro {
    background-color: #F9E7CE;
    font-weight: bold;
    font-size: 50px;
    margin-top: 50px;
    padding: 10px; 
    border-radius: 20px;
    width: 72%; 
    text-align: center;
    max-width: 2000px; 
}

.paragrafo_img2 {
    height: 270px;
}

.paragrafo_img1, .paragrafo_img3 {
    margin-top: 70px;
    height: 210px;
}

.imagem_esquerda{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 20px;
}

.imagem_direita {
    margin-left: 20px;
}

.imagem-centro {
    max-width: 100%; 
    border-radius: 3%;
    height: auto; 
}

h2 {
    text-align: center;
    color: white;
    font-size: 90px;
}

.personagens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
}

.person {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    height: auto;
    padding: 12px;
    border-radius: 13%;
    transition: transform 0.3s ease-in-out;
    align-items: center;
    display: flex; /* Adicionado para centralizar os itens dentro da cidade */
    flex-direction: column; /* Organiza a imagem e o título em coluna */
    align-items: center; /* Centraliza os itens */
}

.person:hover {
    transform: scale(1.05);
}

.perso-title {
    text-align: center;
    color: white;
    font-size: 3.8rem;
}

.carousel{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.images{
    border-radius: 7px;
    width: 1320px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.carousel>a{
    cursor: pointer;
}
.carousel a>button{
    cursor: pointer;
    border: none;
    border-radius: 7px;
    width: 62px;
    height: 100%;
}
.images>img{
    object-fit: cover;
    height: 350px;
    width: 450px;
    padding: 5px;
    border-radius: 5%;
}

.gastronomia {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 50px ; 
    margin: 50px auto;
    padding: 0px;
    max-width: 1000px;
}

.card {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 10px;
    height: 210px;
    width: 500px;
    background-color: #F9E7CE;
    border-radius: 10px;
    margin-top: 10px;
}
.card h3{
    font-size: 30px;
}

.card p{
    font-size: 27px;
}

.cards img {
    width: 200px;
    height: 200px;
    margin-right: 10px;
}
